/* Reset básico para garantir consistência entre navegadores */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definições globais de tipografia e fundo */
html, body {
  height: 100%;
  font-family: 'Arial', sans-serif; /* ou outra fonte */
  color: #333; /* Cor do texto */
  background-image: url('/fundo.jpeg');
  background-size: cover; /* Ajusta para cobrir toda a área visível */
  background-repeat:repeat; /* Impede repetição da imagem */
  background-position: center; /* Centraliza a imagem */
  margin: 0; /* Remove margens padrão */
}

.cat-details-page {
  text-align: center;
  align-items: center;
 
  padding: 20px;
}

.cat-details-page h1 {
  color: #333; /* Cor específica para os títulos dessa página */
  text-align: center;
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0 0 1rem 0;
}

/* Parágrafos */
p {
  line-height: 1.6;
  margin: 0 0 1rem 0;
}

/* Links */
a {
  text-decoration: none;
  color: #0077ff; /* Cor padrão dos links */
}

a:hover {
  text-decoration: underline;
}

#title{
  margin: 20px;
  text-align: center;
}