/* Reset básico para garantir consistência entre navegadores */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definições globais de tipografia e fundo */
html, body {
  height: 100%;
  font-family: 'Arial', sans-serif; /* ou outra fonte */
  background-color: #f8f9fa; /* Cor de fundo */
  color: #333; /* Cor do texto */
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0 0 1rem 0;
}

/* Parágrafos */
p {
  line-height: 1.6;
  margin: 0 0 1rem 0;
}

/* Links */
a {
  text-decoration: none;
  color: #0070f3; /* Cor padrão dos links */
}

a:hover {
  text-decoration: underline;
}

#title{
  margin: 20px;
  text-align: center;
}